#fijo{
    top: -37px;
    position: relative;
    margin-left: 12px;
}

#tipo{
    top: 7px;
    position: relative;
    margin-left: 10px;
}

#inlineRadio1{
    top: -6px;
    position: relative;
    margin-left: 5px;  
}


#lafijo{
margin-left: -26px;
}

#ltemporal{
    margin-left: -22px;;
}

.selec option{
    text:rgb(0, 0, 0);
    background-color:#ffffff;;
}

.redondo{
    /* display: block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #asigna-table tbody tr{
      cursor: pointer;
  }

  #asigna-table{
    width: 100% !important;
  }

  .dataTables_filter{
    width: 71% !important;
    max-width: 100% !important;
   
  }
  div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block;
    width: 571px !important;
}
  div.col-sm-12.col-sm-6{
  margin-left: -271px;
}

.dropzone .dz-preview{
        margin: 10px;
        min-height: 150px;
    }
    .dropzone .dz-preview .dz-image{
        width: 150px;
        height: 150px;
    }
    .dz-image img{
        width: 150px;
        height: 150px;
    }


#labid{
  cursor: pointer;
}

#image{
  /* margin-left: 122px; */
  cursor: pointer;
  background-image: url('../black/img/default-user-image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 22px; 
  /* background-size: cover; */


} 
/* table.dataTable tbody tr.selected {
  background-color: #b62897 !important;
} */


    @media (min-width: 768px){
    div.col-md-6 {

      margin-left: -12px !important;
    }
  } 

  @media (min-width: 991px){
   .dataTables_filter{
    width: 757px ;
    max-width: 100%;
   
  }
  } 

  @media (min-width: 768px){
    div.col-sm-12.col-md-6 {

      width: 785px !important;
      max-width: 100% !important;
    }
  } 

  .TitleAS{
    font-size: 14px;
    text-align: center;
      }
  /* #Empleadotable_wrappertbody tr.selected {
    color: white !important;
    background-color: #9e2ca8 !important;
} */

/* .form-control::placeholder {
    color: white;

} */


.buttons-excel {
  display: none;
}

.buttons-pdf {
  display: none;
}

.buttons-print{
  display: none;
}

.right{
  text-align: right;
}
.center{
  text-align: center;
}
.dataTables_scrollHeadInner{
width: 100% !important;
}
#listado-table_filter{
margin-left: 33%;
}
.list{
width: 100% !important;
}
.listadoth{
font-size: 12px !important; 
text-align: center !important; 
width: 40% !important;
}
.listadoth2{
font-size: 12px !important;
width: 29% !important;
}
.listadoth3{
font-size: 12px !important;
width: 24% !important;
}
.boldend{
text-align: center;
}
.nametd{
width: 296px !important;
}
.cedulatd{
width: 124px !important;
}
.cargotd{
width: 238px !important;
}

.tablesemples{
  width: 100% !important;
}
#Empleadotable_filter{
margin-left: 48% !important;
}

#Empleadotable>tbody>tr>td{
  padding: 5px 7px !important;
}