

.redondo{
    /* display: block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* .form-control::placeholder {
    color: white;

} */
/* 4054b2 */

/* .card-title{
  width:  !important;
  height: 100px !important;
  padding: 15px !important;
  background-color: #4054b2 !important;
  box-shadow: 10px 10px grey !important;
} */

.TitleCp{
  font-size: 14px !important;
  text-align: center;
}

.whiter{
  top: -92px; 
  margin-right: 3%;
   background: white; 
   color: #4054b2 !important;
}
.whiter:hover{
  background-color: #ffffff !important;
  background-image: linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff87) !important;
}
.TitleP{
  font-size: 14px;
  text-align: center;
}

#gastos-table_length{
  margin-left: 3% !important;
}
#myTab{
  display: none;
}



.left{
  text-align: left !important;
}
.right{
  text-align: right !important;
}
.dataTables_scroll{
  top: -62px;
  position: relative;
  height: 4px;
}

  #gastos-table tbody{
      cursor: pointer;
  }

  .dataTables_filter{
    width: 626px !important;
    display: none;
  }

  #gastoperido-table tbody tr{
    cursor: pointer;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    display: none;
    width: 571px !important;
}
  div.col-sm-12.col-sm-6{
  margin-left: -271px;
}

/* #gastos-table_wrapper{
  height: 288px;
  top: -28px;
  position: relative;
} */

    @media (min-width: 768px){
    div.col-md-6 {

      margin-left: -12px !important;
    }
  } 

  @media (min-width: 768px){
    div.col-sm-12.col-md-6 {

      margin-right: -276px !important;
    }
  } 

  .buttons-excel {
    display: none;
  }
  
  .buttons-pdf {
    display: none;
  }
  
  .buttons-print{
    display: none;
  }

  #fijo{
    top: -37px;
    position: relative;
    margin-left: 12px;
}

#tipo{
    top: 7px;
    position: relative;
    margin-left: 10px;
}

#inlineRadio1{
    top: -6px;
    position: relative;
    margin-left: 5px;  
}


#lafijo{
margin-left: -26px;
}

#ltemporal{
    margin-left: -22px;;
}

.selec option{
    text:rgb(3, 3, 3);
    background-color:#525f7f;;
}



  #empleado-table tbody{
      cursor: pointer;
  }

  /* .dataTables_filter{
    width: 785px !important;
   
  } */
  div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block;
    width: 571px !important;
}
  div.col-sm-12.col-sm-6{
  margin-left: -271px;
}

.dropzone .dz-preview{
        margin: 10px;
        min-height: 150px;
    }
    .dropzone .dz-preview .dz-image{
        width: 150px;
        height: 150px;
    }
    .dz-image img{
        width: 150px;
        height: 150px;
    }


#labid{
  cursor: pointer;
}


/* table.dataTable tbody tr.selected {
  background-color: #b62897 !important;
} */


    @media (min-width: 768px){
    div.col-md-6 {

      margin-left: -12px !important;
    }
  } 

  @media (min-width: 768px){
    div.col-sm-12.col-md-6 {

      margin-right: -276px !important;
    }
  } 

  /* #Empleadotable_wrappertbody tr.selected {
    color: white !important;
    background-color: #9e2ca8 !important;
} */

/* .form-control::placeholder {
    color: white;

} */


.buttons-excel {
  display: none;
}

.buttons-pdf {
  display: none;
}

.buttons-print{
  display: none;
}